<form class="edit-container" action="/edit" method="post">
    <input type="text" name="first" value="{{first}}" placeholder="First Name">
    <input type="text" name="last" value="{{last}}" placeholder="Last Name">
    <input type="text" name="email" value="{{email}}" placeholder="Email">
    <input type="text" name="age" value="{{age}}" placeholder="Age">
    <input type="text" name="city" value="{{city}}" placeholder="City">
    <input type="text" name="homepage" value="{{url}}" placeholder="Homepage">
    <input type="password" name="password" placeholder="New Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button" name="button">UPDATE</button>
</form>

<div class="logout-container">
    <a href="/logout">Click here to logout</a>
</div>
