<div class="signers-container">
    {{#each signers}}
        {{#if this.url}}
            <p><a href="{{url}}">{{this.first}} {{this.last}}</a></p>
        {{else}}
            <p>{{this.first}} {{this.last}}</p>
        {{/if}} ({{age}},
        {{#if ../hideCity}})
        {{else}}
             <a href="/petition/signers/{{city}}">{{city}}</a>)
        {{/if}}
        </p>
    {{/each}}
</div>

<div class="logout-container">
    <a href="/logout">Click here to logout</a>
</div>
